
.popup-content{
    width:90% !important;
}
.e-gridpopup{
    visibility: hidden !important;
}

.center{
    text-align: center;
}
.right{
    text-align: right;
}

.MuiCardHeader-root{
    background:#455a64;
}

